<div class="container py-5">
    <h2 class="text-center mt-5 display-4">About Us</h2>
    <p class="text-center mb-4 lead">Thrive Soul is your guide to living a balanced and healthier life. We share tips, recipes, and techniques to help you on your journey to wellness.</p>
    <div class="row">
      <div class="col-md-6">
        <h3>Our Mission</h3>
        <p>To inspire and empower individuals to embrace a healthier and more fulfilling lifestyle.</p>
      </div>
      <div class="col-md-6">
        <h3>Our Vision</h3>
        <p>To create a global community focused on personal well-being, self-care, and mindful living.</p>
      </div>
    </div>
  </div>
  